	<div id="Wrapper">
<div id="Main">
	<div id="Sidebar">
	</div>
	<div id="Rightbar">
		<div class="box">
			<div class="cell">
				<span class="fade">Status</span>
			</div>
			<div class="cell">
			</div>
			<div class="inner">
			</div>
		</div>
	</div>

<div id="Content">

<div class="box">
	<div class="cell" style="min-height: 73px;">
		<div class="fr snow" style="padding-left: 10px; padding-bottom: 10px;"><a href="<%=user_path(@topic.user)%>"><img src="http://www.gravatar.com/avatar/<%=Digest::MD5.hexdigest(@topic.user.email)%>?s=50" border="0" /></a></div> 
        <span class="bigger"><a href="/">OpenFan.net</a> <span class="chevron">&nbsp;›&nbsp;</span> <a href="<%=node_path(@topic.node)%>"><%=@topic.node.title%></a></span> 
        <h1><%=@topic.title%></h1> 
        <small class="fade">By <a href="<%=user_path(@topic.user)%>" class="dark"><%=@topic.user.username%></a> at <%=h distance_of_time_in_words(@topic.created_at, Time.now)%> ago, 0 hits</small>
	</div>
	<div class="inner">
		<div class="content topic_content"><%=@topic.body%></div>
	</div>
	</div>
	<%if @topic.posts.count > 0%>
	<div class="sep20"></div>
	            <div class="box"> 
	                <div class="cell"><div class="fr"><a href="?r=1">Reverse Order</a> &nbsp;<span class="snow">|</span>&nbsp; <a href="?f=1">Topic Only</a></div><span class="fade"><%=@topic.posts.count%> Replies &nbsp;<span class="snow">|</span>&nbsp;  Last Reply <%=h distance_of_time_in_words(@topic.posts.last.created_at, Time.now)%> ago</span></div> 
	                <script type="text/javascript"> 
	                    is_admin = ;

	                    member_id = 0;

	                    replies_keys = new Array(); replies_ids = new Array(); replies_parents = new Array();
	                </script> 
	                <div id="replies"> 
<%@topic.posts.each do |post|%>

	    <div class="cell reply from_4111"> 


	    <table cellpadding="0" cellspacing="0" border="0" width="100%"> 
	        <tr> 
	            <td width="48" valign="top"><a href="<%=user_path(post.user)%>"><img src="http://www.gravatar.com/avatar/<%=Digest::MD5.hexdigest(post.user.email)%>?s=50" border="0" /></a></td> 
	            <td width="10"></td> 
	            <td width="auto" valign="top"> 
													<div class="fr" id="reply_91156_buttons"> 
														<strong><small class="snow">#1 - <%=h distance_of_time_in_words(post.created_at, Time.now)%> ago &nbsp; <img src="/images/reply.png" align="absmiddle" border="0" alt="回复 xi4oh4o" onclick="replyOne('xi4oh4o')" class="clickable" /><span class="ops"></span></small></strong> 
													</div> 
	                <div class="sep3"></div> 
	                <strong><a href="<%=user_path(post.user)%>" class="dark"><%=h post.user.username%></a></strong> 
	                <div class="sep5"></div> 
	                <div class="content reply_content"><%=h post.body%></div> 
	            </td> 
	    </table> 
	    <script> 
	    replies_keys[(1 - 1)] = 'agR2MmV4cicLEgROb2RlGIonDAsSBVRvcGljGPeMpQEMCxIFUmVwbHkYkKylAQw';
	    replies_ids[(1 - 1)] = '91156';

	    replies_parents[(1 - 1)] = 1;

	    </script> 
	</div>
		<%end%>
		<%end%>
	</div>

</div>
</div>
</div>