    <div id="Wrapper"> 
    <div id="Main"> 
        <div id="Sidebar">   
        </div> 
        <div id="Rightbar"> 
            <div class="box"> 
    
    <div class="cell"> 
        <strong>Status</strong> 
        
        <div class="sep5"></div> 
        <span class="fade"></span> 
        
    </div> 
    <div class="inner"> 
        <div class="sep5"></div> 
        <div align="center"><a href="/signup" class="super normal button">Sign Up</a> 
        <div class="sep5"></div> 
        <div class="sep10"></div> 
        Got Account? <a href="/login">Sign In</a></div> 
    </div> 
    
</div> 
        </div> 
        <div id="Content"> 
            <div class="box"> 
                <div class="cell"><span class="fade"><a href="/">OpenFan.net</a> <span class="chevron">&nbsp;›&nbsp;</span>Update Info</span></div> 
                <div class="inner"> 
<% form_for(@user) do |f| %>
        			
        			<strong><%= f.error_messages %></strong> 
        			<div class="sep10"></div> 
        			
        			<table cellpadding="5" cellspacing="0" border="0"> 
        			    <tr> 
        			        <td width="80" align="right"> 
        			            User
        			        </td> 
        			        <td width="200" align="left"> 
        			           <strong><%=@user.username%></strong> <!--<%= f.text_field :username, :class=>"sl" %>-->
        			        </td> 
        			    </tr> 
						<tr>
							<td width="80" align="right">
								Email
							</td>
							<td width="200" align="left">
								<%= f.text_field :email, :class=>"sl" %>
							</td>
						</tr>
        			    <tr> 
        			        <td width="80" align="right"> 
        			        </td> 
        			        <td width="200" align="left"> 
	<%= f.submit 'Update', :class=>"super normal button" %>
        			        </td> 
        			    </tr> 
        			</table> 
<%end%>
                </div> 
            </div> 
        </div> 
    <div class="c"></div> 
    </div> 
    </div>