 <div class="title"> 
 	<!-- TODO: make 'post' variable for 'article' based on category --> 
    <span class="lipsum">Most recently, <%=h @topics.first.user.username%> wrote</span> 
	<h2><%=link_to @topics.first.title, @topics.first, :title=> @topics.first.title, :ref=>'bookmark'%></h2> 
 </div> 

	<div id="articles"> 

	<h6>Articles</h6> 
 		<%@topics.each_with_index do |t, i|%>
		<%break if i == 5%>
		<div class="post" id="<%=t.id%>"> 
			<h2><%=link_to t.title, t, :title=> t.title, :ref=>'bookmark'%></h2> 
			<p><%=h t.body%></p> 
		</div>
		<%end%>
	</div> 
<div id="posts"> 

	<h6>Posts</h6> 
	
	
			
		 <%@posts.each_with_index do |p,i|%>
		<%break if i == 5%>						
		<div class="post" id="<%=p.id%>"> 
			<h2><%=link_to p.topic.title, p.topic, :title=> p.topic.title, :ref=>'bookmark'%></h2> 
			<p><%= simple_format p.body%></p> 
		</div> 
		<%end%>
</div> 

<div class="clear"></div>