<div id="container">
	<div id="sidebar">
		<h2>Status</h2>
		<div>
		<span class="status"><%=@users.count%></span>
		<span class="title">Users</span>
		<span class="status"><%=@topics.count%></span>
		<span class="title">Topics</span>
		<span class="status"><%=@posts.count%></span>
		<span class="title">Posts</span>
		</div>
		<div style="height:10px;clear:both"></div>
		<h2>New Nodes</h2>
		<p><a href="#" class="node">Siderbar</a><a href="#" class="node">Siderbar</a><a href="#" class="node">Siderbar</a><a href="#" class="node">Siderbar</a><a href="#" class="node">Siderbar</a><a href="#" class="node">Siderbar</a><a href="#" class="node">Siderbar</a><a href="#" class="node">Siderbar</a><a href="#" class="node">Siderbar</a><a href="#" class="node">Siderbar</a><a href="#" class="node">Siderbar</a><a href="#" class="node">Siderbar</a><a href="#" class="node">Siderbar</a><a href="#" class="node">Siderbar</a><a href="#" class="node">Siderbar</a><a href="#" class="node">Siderbar</a><a href="#" class="node">Siderbar</a><a href="#" class="node">Siderbar</a><a href="#" class="node">Siderbar</a><a href="#" class="node">Siderbar</a><a href="#" class="node">Siderbar</a><a href="#" class="node">Siderbar</a><a href="#" class="node">Siderbar</a><a href="#" class="node">Siderbar</a><a href="#" class="node">Siderbar</a><a href="#" class="node">Siderbar</a><a href="#" class="node">Siderbar</a></p>
		
		<h2>Hot Nodes</h2>
		<p><a href="#" class="node">Siderbar</a><a href="#" class="node">Siderbar</a><a href="#" class="node">Siderbar</a><a href="#" class="node">Siderbar</a><a href="#" class="node">Siderbar</a><a href="#" class="node">Siderbar</a><a href="#" class="node">Siderbar</a><a href="#" class="node">Siderbar</a><a href="#" class="node">Siderbar</a><a href="#" class="node">Siderbar</a><a href="#" class="node">Siderbar</a><a href="#" class="node">Siderbar</a><a href="#" class="node">Siderbar</a><a href="#" class="node">Siderbar</a><a href="#" class="node">Siderbar</a><a href="#" class="node">Siderbar</a><a href="#" class="node">Siderbar</a><a href="#" class="node">Siderbar</a><a href="#" class="node">Siderbar</a><a href="#" class="node">Siderbar</a><a href="#" class="node">Siderbar</a><a href="#" class="node">Siderbar</a><a href="#" class="node">Siderbar</a><a href="#" class="node">Siderbar</a><a href="#" class="node">Siderbar</a><a href="#" class="node">Siderbar</a><a href="#" class="node">Siderbar</a></p>
	</div>
	<div id="content">
		<ul>
			<%@topics.each do |t|%>
			<li><img class="avartar" style=" float: right;"src="http://www.gravatar.com/avatar/4f2b95302b5ef9755375c95309698386?s=48"><span class="topic-title"><%= link_to t.title,t%></span><br /><p class="topic-info">by <%=t.user.username%> <%=h distance_of_time_in_words(t.created_at, Time.now)%> ago</p></li>
			<%end%>
		</ul>
	</div>
</div>
