<h1>OpenFan.net</h1>
Welcome <%= link_to_if(@user.nil?, "Login", "login") do 
	link_to( @user.username, @user)
	link_to('Logout', "logout") 
	end %> <%= link_to 'Sign up', 'signup' %> 
<div> &nbsp;</div>
<div class="node">
	<span>Newest Nodes</span>
<% @nodes.each do |node| %>
	<%= link_to node.title, node %>
<%end%>
</div>
<div>Topics</div>
<% @topics.each do |topic| %>
	<div><%=link_to topic.title, topic_path(topic)%> <%=h distance_of_time_in_words(topic.created_at, Time.now)%> by <%=h topic.user.username%></div>
<%end%>