<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>OpenFan.net › <%=@title%></title>
  <%= stylesheet_link_tag 'develop' %>
</head>
<body>

<!--<p style="color: green"><%= flash[:notice] %></p>-->
<div id="Top">
	<div id="TopMain">
		<a href="/"><span style="float: left; margin-top: 11px; margin-left: 20px; color: white;">OpenFan.net</span></a>
		<div id="Navigation">
			<ul>
				<li><a href="/" class="white">Home</a></li>
				<%if session[:user_id]%>
				<li><%=link_to @user.username, user_path(@user)%></li>
				<li><%=link_to "Setting", "/setting"%></li>
				<li><%=link_to('Logout', "/logout") %></li>
				<%else%>
				<li><%=link_to 'Login', '/login'%></li>
				 <li><%= link_to 'Sign up', '/signup' %> </li>
				<%end%>
			</ul>
		</div>
	</div>
</div>

<%= yield%>
</div>
<div id="Bottom"> 
<div id="BottomMain"><div class="fr" align="right" style="padding-top: 10px;">
    </div> 
    <strong><a href="/about" class="dark">About</a></strong> &nbsp; | &nbsp; <strong><a href="/faq" class="dark">FAQ</a></strong> &nbsp; | &nbsp; <strong><a href="/mission" class="dark">Mission</a></strong> &nbsp; | &nbsp; <strong><a href="http://www.lrccn.com/" class="dark" target="_blank">Blog</a></strong> &nbsp; | &nbsp; <strong><a href="/advertise" class="dark">Advertise</a></strong> 
    <div class="sep10"></div> 
    <div class="sep5"></div> 
    <span class="fade">OpenFan.net</span> 
    <div class="sep3"></div> 
    <span class="fade">OpenFan.net made by <a href="http://www.lrccn.com/" target="_blank" class="dark"><strong>Jimmy Fan</strong></a></span> 
    <div class="sep10"></div> 
    <div class="sep5"></div> 
    <small>VERSION: 0.0.1-dev<br />♥ Do have a faith in what you're doing.</small> 
</div>
</div>

</body>
</html>
